/* General */
body {
    font-family: 'Aileron', sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    color: black;
}

h1, h2, h3 {
    font-family: 'League Spartan', sans-serif;
    color: #ad2521;
}

.intro {
    text-align: center;
    padding: 20px;
    background: #ffffff;
}

.descripcion {
    font-family: 'Aileron', sans-serif;
    color: #ad2521;
    text-align: justify;
    margin: 0 auto;
    max-width: 80%;
}

/*Menu2 paginas internas................................................................................................. */
header {
    background-color: transparent; /* Color de fondo ninguno */
    padding: 0; /* Espaciado interno */
}

.menu2 {
    background-color: rgba(91, 126, 82, 0.8); /* Verde con 80% de opacidad */
    display: flex; /* Alineación flexible */
    justify-content: space-between; /* Espacio entre el logo y los ítems */
    align-items: center;
    position: fixed;  /* Hace que el menú se quede fijo en la parte superior */
    top: 0;
    width: 100%;
    z-index: 1000;  /* Asegura que el menú esté por encima de otros elementos */
    padding: 0 20px; /* Esto agrega espacio en los lados izquierdo y derecho */
}

.logo2 img {
    width: 2.5cm;/* Ajusta el tamaño del logo */
    align-items: left;
}

.menu-items2 {
    list-style: none; /* Quita los estilos de lista */
    display: flex; /* Alinea horizontalmente */
    gap: 30px; /* Espacio entre elementos */
    margin: 0;
    padding: 0;
}

.menu-items2 li:last-child {
    margin-right: 40px; /* Aumenta el margen si es necesario para el último elemento */
}

.menu-items2 a {
    text-decoration: none; /* Sin subrayado */
    color: white; /* Color de texto por defecto */
    font-family: 'League Spartan', sans-serif; /* Fuente */
    font-size: 1rem;
    transition: color 0.3s; /* Transición de color */
}

.menu-items2 a:hover {
    color: #d3d3d3; /* plomo al pasar el cursor */
}


/* Nuestros servicios: nuestros-servicios.html................................................................................. */

.introser {
    margin-top: 150px;
    margin-left: 2cm;
    align-items: left;
    text-align: justify;
    background: #ffffff;
}

.tituloser {
    font-family: "Cormorant Garamond", serif;
    color: #ad2521; /* Rojo para el título */   
    font-size: 2.5em;
    padding: 0;
}

.descripcionser {
    font-family: 'Aileron', sans-serif;
    font-size: 1.2em;
    color: #333;
    margin-top: 0.8cm;
    padding: 0;
    background: white;
}

.btn-transicion {
    background-color: transparent;
    color: #ad2521;
    border: 1px solid #ad2521;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.2s; /* Animación suave */
}

.btn-transicion:hover {
    transform: scale(1.05); /* Efecto de zoom ligero */
}

.plan-detalle {
    margin: 2cm;
    width: 48%; /* Ajusta el tamaño de cada bloque */
    padding: 20px;
    background-color: transparent;
    border: 1px solid #ad2521;
    text-align: left;
    display: inline-block; /* Esto coloca los bloques en línea */
}

.oculto {
    display: none; /* Oculta el elemento por defecto */
}

.subtituloser {
    font-family: "Cormorant Garamond", serif;
    color: #ad2521;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    margin-bottom: 0.4cm;
}

.descriptionser {
    font-family: 'Aileron', sans-serif;
    font-size: 1.2em;
    color: #333;
    margin: 0;
    padding: 0;
    background: white;
}

.descripcion sin-vinetas {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;
    height: 100%;
    padding: 20px;
    font-family: 'Aileron', sans-serif;
    font-size: 1.2em;
    margin-top: 1cm;
}

.descripcion sin-vinetas li {
    margin: 20px; /* Ajusta el espacio entre los ítems */
}

.imagen-golden {
    position: fixed; /* La imagen permanece fija en la ventana */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la referencia al centro del contenedor */
    display: flex; /* Activa Flexbox si hay otros elementos dentro */
    justify-content: center; /* Centra contenido horizontalmente */
    align-items: center; /* Centra contenido verticalmente */
    z-index: 0;
}

.imagen-golden img {
    width: 50%; /* Ajusta el ancho relativo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    opacity: 0.58; /* Aplica opacidad para ver el texto */
}

/*tabla */
/* Estilo general para centrar la tabla */
#tabla-comparativa {
  display: flex;
  justify-content: center; /* Centra la tabla horizontalmente */
  padding: 20px; /* Agrega espacio alrededor de la sección */
}

.tabla {
    background-color: white;
}

#tabla-comparativa th {
  color: ##ad2521; 
}

#tabla-comparativa table {
  border-collapse: separate; /* Permite añadir espacio entre celdas */
  border-spacing: 10px; /* Espacio ligero entre celdas */
  width: 80%; /* Ajusta el ancho de la tabla */
  text-align: center; /* Centra el texto en las celdas */
  font-family: "Aileron", sans-serif;
  color: #2F4F4F; /* Color rojo para texto */
}

#tabla-comparativa th,
#tabla-comparativa td {
  border: 1px solid #ad2521; /* Borde rojo */
  padding: 10px; /* Espaciado interno en las celdas */
}

#tabla-comparativa th {
  background-color: transparent; /* Fondo claro para encabezados */
  font-family: "League Spartan", sans-serif; /* Fuente para los títulos */
  font-size: 1.2em; /* Tamaño de fuente para títulos */
  color: #ad2521;
}

#tabla-comparativa td {
  background-color: transparent; /* Fondo claro para celdas */
  font-size: 1em; /* Tamaño de fuente para contenido */
}

#tabla-comparativa tr:nth-child(even) td {
  background-color: transparent; /* Fondo ligeramente diferente en filas pares */
}


footer {
    position: relative;
    bottom: 0; /* Lo coloca en la parte inferior de la página */
    padding: 20px;
}
/*FAQs pagina interna.................................................................................................................*/
body {
    font-family: 'Aileron', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1 {
    font-family: "Cormorant Garamond", serif;
    color: #ad2521; /* Rojo para el título */   
    font-size: 2.5em;
    padding: 0;
}

.faq-container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

.faq-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
}

.faq-question {
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question:hover {
    background-color: #f2f2f2;
}

.faq-question h2 {
    font-family: 'Aileron', sans-serif;
    font-size: 1.2em;
    color: #333;
    margin-top: 0.8cm;
    padding: 0;
    background: white;
}

.faq-question .arrow {
    font-size: 20px;
    transition: transform 0.3s ease;
}

.faq-question.active .arrow {
    transform: rotate(180deg);
}

.arrow {
    color: transparent; /* Cambia el color */
    font-size: 20px; /* Ajusta el tamaño */
    text-shadow: 1px 1px 2px rgba(91, 126, 82, 0.8); /* Simula un borde o relieve */
}

.faq-answer {
    font-family: 'Aileron', sans-serif;
    font-size: 1.2em;
    color: #333;
    margin-top: 0.8cm;
    margin-left: 0.8cm;
    margin-bottom: 0.8cm;
    padding: 0;
    background: white;
    display: none; /* Ocultar inicialmente */
    transition: all 0.3s ease-in-out; /* Transición suave al abrir/cerrar */
}

.faq-answer.open {
    display: block; /* Mostrar cuando se abre */
}
